@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap");

body {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}
.splitter-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: #3D9D9B;
  line-height: 1;
  letter-spacing: 10px;
}

.splitter-title .row {
  display: flex;
  gap: 10px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.box {
  background-color: white;
  display: flex;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}
.box-one {
  padding-right: 2rem;
  width: 50%;
}
.input-wrapper {
  position: relative;
  margin-bottom: 20px;
}


.input-wrapper .icon {
  position: absolute;
  top: 40%;
  left: 12px;
  transform: translateY(-50%);
  color: #5ec5ab;
  font-size: 1rem;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #5c677d;
  margin-top: 25px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: none;
  background: hsl(189, 41%, 97%);
  border-radius: 5px;
  margin-bottom: 1rem;
  color: hsl(183, 100%, 15%);
  
}

input [type="number"]:focus {
  border: 2px solid red;
}
.box-two {
  background-color: hsl(183, 100%, 15%);
  padding: 2rem;
  border-radius: 10px;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.five {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
button {
  background: hsl(183, 100%, 15%);
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  height: 40px;
  /* display: flex; */
  max-width: 150px;
}
button:hover {
  background: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}
.custom {
  background: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
}
.numPeople {
  padding-top: 20px;
}

.tip-per-person {
  display: flex;
  justify-content: space-between;
}
.total-per-person {
  display: flex;
  justify-content: space-between;
}
.reset {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: none;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.reset:hover {
  background: hsl(185, 41%, 84%);
}
#tip-person,
#total-person {
  font-size: 24px;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}

.per {
  font-size: 13px;
}
@media (max-width: 768px) {
  .box {
    flex-direction: column;
    max-width: 90%;
    padding: 1.5rem;
  }
  .box-one {
    width: 100%;
  }
  .box-two {
    width: 85%;
    margin-top: 1rem;
    padding: 1.5rem;
  }
  .five {
    grid-template-columns: repeat(2, 1fr);
  }
  input {
    width: 95%;
  }
  /* button input{
  max-width: 150px;
  } */
}
